<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- icons stylesheet  -->
    <title>Music Scraper</title>
</head>
<body>
    <header class=header>
        <div class=header-title>
        
            <h1>MUSICSCRAPER</h1>

        </div>

    </header>

    <h1 class=title>ULTRATOP 50</h1>
    
    <!-- EXPERIMENT DROP DOWN
    <button class="drop-down">Ultratop 50</button>
    <div class="content"></div> -->

        <div class="container-one">

            <div class="box-left">

                <h2>NEW THIS WEEK</h2>

                <table id="new">
                    <tr>
                        <th>Rank</th>
                        <th>Artist - Track</th>
                        <th>Copy</th>
                    </tr>

                </table>

            </div>

            <div class="box-middle">

                <h2>RISING HITS</h2>

                <table id="top">
                    <tr>
                        <th>Rank</th>
                        <th>Artist - Track</th>
                        <th>Copy</th>
                    </tr>

                </table>
                
            </div>

            <div class="box-right">

                <h2>GONE THIS WEEK</h2>

                <table id="dropped">
                    <tr>
                        <th>Rank</th>
                        <th>Artist - Track</th>
                        
                    </tr>


                </table>
                
            </div>



        </div>
   


        
        <div class=container-two>
            <div class=table-left>

                <!-- <h2>This week </h2>

                <ol>
                    <% for (let i = 0; i < top50ArtistsThisWeek.length; i++) { %>
                        <li class=currentTop50ListItem> <%= top50ArtistsThisWeek[i] %> - <%= top50SongsThisWeek[i] %> </li>
                    <% } %>
                </ol> -->
                
                <!-- TABLE IDEA -->
                <h2>THIS WEEK</h2>
                <table>
                    <tr>
                        <th>Rank</th>
                        <th>Artist - Track</th>
                        <th>Movement</th>
                        <th>Copy</th>
                    </tr>

                    <% for (let i = 0; i < top50ArtistsThisWeek.length; i++) { %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td id=copyText class=currentTop50ListItem> <%= top50ArtistsThisWeek[i] %> - <%= top50SongsThisWeek[i] %> </td>
                            <td class="ranking"></td>
                            <td><button class="copyButtonCurrent"><i class="fa fa-copy"></i></button></td>
                        </tr>
                    <% } %>
                    



                </table>

            </div>

            <div class=table-right>

                <h2>LAST WEEK</h2>

                <table>
                    <tr>
                        <th>Rank</th>
                        <th>Artist - Track</th>
                        
                    </tr>

                    <% for (let i = 0; i < top50ArtistsLastWeek.length; i++) { %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td class=lastTop50ListItem> <%= top50ArtistsLastWeek[i] %> - <%= top50SongsLastWeek[i] %> </td>
                            
                        </tr>
                    <% } %>
                    



                </table>

                <!-- <ol>
                    <% for (let i = 0; i < top50ArtistsLastWeek.length; i++) { %>
                        <li class=lastTop50ListItem> <%= top50ArtistsLastWeek[i] %> - <%= top50SongsLastWeek[i] %> </li>
                    <% } %>
                </ol> -->

            </div>
        </div>
    
    <footer class="footer"f>

        <div class=footer-disc>
            <p>Disclaimer:</p>
            <p>This webpage was created purely as a project - data for the tables is extracted from https://www.ultratop.be and https://www.shazam.com/gb </p>

        </div>

        <div class=footer-icons>
            <a class=icon href='https://github.com/De-L3ns'><i 
                class="fa fa-github" style="font-size:36px"></i></a><a href='https://www.linkedin.com/in/laurens-viaene-90864a1b2/'><i 
                    class="fa fa-linkedin-square" style="font-size:36px"></i></a>

        </div>


    </footer>
</body>
<script src="js/script.js"></script>
</html>